current_version = "0.0.0"

[[files]]
path = "pyproject.toml"

search = "version = \"{{current_version}}\""
replace = "version = \"{{new_version}}\""


[[files]]
path = "CHANGES.rst"

search = """
Recent changelogs
=================
"""
replace = """
Recent changelogs
=================

v{{new_version}}
{{#sameLengthChars}}=@v{{new_version}}{{/sameLengthChars}}

:Date: {{ nowFormat.dateISO }} (Asia/Tokyo)

Breaking changes
----------------

Features
--------

Fixes
-----

Others
------
"""

[[files]]
path = ".github/release-body.md"
search = "Release rst2typst v{{ current_version }}"
replace = "Release rst2typst v{{ new_version }}"

[[files]]
path = ".github/release-body.md"
search = "- Changelog is https://github.com/atsphinx/rst2typst/blob/v{{ current_version }}/CHANGES.rst"
replace = "- Changelog is https://github.com/atsphinx/rst2typst/blob/v{{ new_version }}/CHANGES.rst"

[[files]]
path = ".github/release-body.md"
regex = true
search = "- Diff is .+"
replace = "- Diff is https://github.com/atsphinx/rst2typst/compare/v{{ current_version }}...v{{ new_version }}/"
